


body { 
    padding: 50px; 
    text-align: center; 
    background-color: darkslategrey; 
    color: #fff; 
    font-size: 20px;
    line-height: 36px;
    font-family: monospace;
}

span { padding: 0 12px; }